<%
    var media_id = mediaData.id;
    var media_type = mediaData.media_type;
    var likes_count = mediaData.likes.length;
    var comments = mediaData.comments;
    var comments_count = comments.length;

    var like_str = "like";
    var comment_str = "comment";
    var save_str = "save";
    var mediaLists = mediaData.lists;
    if(mediaLists.length >=1){
      save_str = "favorited";
    }


    var customLists = [];

    if(user){
      var user_id = user.id;
        mediaData['likes'].forEach(function(like){
          if(like['User.id']==user_id){
            like_str = "unlike";
          }
        })

        mediaData['comments'].forEach(function(comment){
          if(comment['User.id']==user_id){
            comment_str = "commented";
          }
        })

        customLists = user.lists;
    }
%>        

<div class = "media-left-view">

    <div class = "left-nav">
        <% if(mediaData.nextMediaId.length >0){ %>
            <button class = "media-viewer-nav-button" value = "<%= mediaData.nextMediaId[0].id %>"><</button>
        <%} %>
    </div>


    <div class = "media-inside-viewer">

        <% if (media_type == 3){ %>

             <div class = "youtube">
             <iframe id = "yt-player" style="margin-bottom:-10px;" width="100%" height="500px;" src="https://www.youtube.com/embed/<%= mediaData.link %>" frameborder="0" allowfullscreen></iframe>
             </div>

        <% } %>
         

        <% if (media_type == 2){ %>

              <div class = "media_viewer_blog_popup">
                    <%- mediaData.blog %>
              </div>

        <% } %>

        <% if (media_type == 1){ %>
        
                <img src ="<%= mediaData.link %>" />

        <% } %>

        <% if (media_type == 4){ %>
        
                <iframe id = "sc-player" style = "margin-bottom:-10px" width="100%" height="500" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/<%= mediaData.link %>&amp&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false&amp;visual=true"></iframe>

        <% } %>

    </div>


    <div class = "right-nav ">
        <% if(mediaData.previousMediaId.length >0){ %>
            <button class = "media-viewer-nav-button" value = "<%= mediaData.previousMediaId[0].id %>">></button>
        <%  } %>
    </div>

</div><div 
class = "media-right-view">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>

    <div class = "media-viewer-description">
        <div class = "user-details">
            <table>
                <tr>
                    <td valign = "top">
                        <img class = "media-viewer-user-img" src = "<%= mediaData['User.image']%>"/>
                    </td>
                    <td valign = "top" class = "artist-name">
                        <%= mediaData['User.name']%>
                    </td>
                </tr>
            </table>
        </div>

        <div class = "media-details">

            <%
            if(mediaData['Work.title'])
            { %>
                <a class = "title" href = "/works/preview?id=<%=media_id%>"><%= mediaData['Work.title'] %></a></br >
            <%
            } %>

            <%
            if(mediaData['Work.description'])
            { %>
                <div class = "description">
                    <%= mediaData['Work.description'] %>
                </div>
            <%   
            } %>

            <%
            if(mediaData.tags)
            { %>
                <div class ="genres-container-preview">
                    <%
                        var genres = mediaData.tags.split(',');
                        genres.forEach(function(genre){ 
                    %>
                        <a class = "genres" href ="#" >#<%=genre %></a>
                    <%
                        })
                    %>
                </div>
            <%
            } %>

        </div>


        <div class ="lcsb-dashboard">

                <table>
                    <tr>

                        <td>
                          <button title="<%- like_str; %>" value = "<%- media_id; %>" class = "likemedia likemedia<%=media_id%> <%- like_str; %>"><i class ="fa fa-thumbs-o-up"></i>
                          </button>
                        </td>
                        <td>
                          <a href ="#"><%- likes_count; %></a>
                        </td>


                        <td>
                          <button title="<%- comment_str; %>" class="commentinput commentinput<%=media_id%> <%=comment_str%>">
                                <i class ="fa fa-comment-o"></i>
                          </button>
                        </td>
                        <td>
                            <a href="#">
                                <%= comments_count %>
                            </a>
                        </td>

                        <td>
                          <div class="dropdown"><button  title="share" class="dropdown-toggle" data-toggle="dropdown"><i class ="fa fa-share-alt"></i></button>
                              <ul class="dropdown-menu">
                                <li><a href="#">Facebook</a></li>  
                                <li><a href="#">Twitter</a></li> 
                                <li><a data-toggle="modal" href = "../sharing_content/share_media_skillpool?media_id=<?php echo $media_id; ?>" class = "share_with_skillpool" data-target="#skillpool_share_modal">Skillpool</a></li> 
                              </ul>
                          </div>
                        </td>   
                        <td>
                          <a href ="#" class = "sharecount">12</a>
                        </td>


                        <td>
                            <div class="dropdown">
                                <button title="Save to Lists" class="dropdown-toggle  <%- save_str;%> favorite<%- media_id%>" data-toggle="dropdown">
                                  <i class ="fa fa-star-o"></i>
                                </button>

                                    <% if(customLists.length>0){ %>
                                        <ul class="list-ul-div<%- media_id;%> dropdown-menu lists_list" media_id = "<%- media_id; %> ">
                                            <% customLists.forEach(function(list){ 
                                                var list_name = list.list_name;
                                                var list_id = list.id;
                                              %>
                                                <li>
                                                  <div class = "save<%- list_id;%> save-to-list 

                                                  <%if(mediaLists.indexOf(list_id) > -1){ %>

                                                    saved

                                                   <% } else { %>
                                                    save
                                                    <%} %>
                                                  " value = "<%- list_id; %>" >
                                                    <%- list_name;%>
                                                  </div>
                                                  <!-- <div class = "new_lists<%- media_id; %> new_lists">
                                                  </div> -->
                                                </li>
                                                
                                            <% }) %>
                                                <li>
                                                  <a data-toggle="modal" href = "../comment_like_share_list/list/add_new_list_inline?media_id=<%- media_id;%>&type=<%- media_type;%>&list_for=media" class = "add_new_list_inline" data-target="#skillpool_share_modal">
                                                    <div class = "add-new-list">New List</div>
                                                  </a>
                                                </li>
                                        </ul>
                                    <%
                                    } 
                                    %>
                            </div>
                        </td>

                    </tr>
                </table>
                <form id ="commentMediaForm" method ="post" action="/works/media/comment/add" >
                    <textarea rows = "1" type = "text" name ="comment" class ="textarea" placeholder="Write a comment" ></textarea><input type="hidden" name="media_id" value="<%=media_id%>"><button type="submit" class="btn btn-primary">Submit</button>
                </form>            
        </div>
        <div class = "comments-container comments-container<%=media_id%>">
            <%comments.forEach(function(comment){%>
                <div class = "comments-table-wrap">
                    <%if(user){
                        if(comment.user_id == user.id){%>
                            <div class ="delete-comment" value="<%=comment.id%>" media_id="<%=media_id%>">X</div>
                        <%}
                    }%>
                    <table class = "comments-table">
                        <tr>
                            <td valign="top">
                                <a href="/user/<%=comment['User.username']%>">
                                    <img class="commentor-pic" src ="<%=comment['User.image']%>"/>
                                </a>
                            </td>
                            <td valign="top" class = "commentor-name"><a href="/user/<%=comment['User.username']%>"><%=comment['User.name']%>:</a> <span class="comment"><%-comment.comment%></span></td>
                        </tr>
                    </table>
                </div>
            <%});%>
        </div>
    </div>
</div>
<script type="text/javascript">
    $(".textarea").tagpeople();
</script>