<% for(var i=0; i < media.length; i++){ %>
    <%
    var mediaObject = media[i];
    var media_id = mediaObject['id'];
      var media_description = mediaObject['description'];
      var media_type = mediaObject['media_type'];
      var media_link = mediaObject['link'];
      var blog = mediaObject['blog'];
      if(mediaObject['tags'] && mediaObject['tags'].length>0){
        var media_genres = mediaObject['tags'].split(',');
      }
      else
      {
        var media_genres = [];
      }
      
      var comments = mediaObject['comments'];
      var likes = mediaObject['likes'];
      var mediaLists = [];
      if(mediaObject.lists){
        mediaLists = mediaObject.lists;
      }
      /*var shares = mediaObject['shares'].length;*/

    var artist_id = mediaObject['User.id'];
      var artist_name = mediaObject['User.name'];
      var artist_username = mediaObject['User.username'];
      var artist_image = mediaObject['User.image'];

    var likes_count = likes.length;
    var comments_count = comments.length;
    var shared_count=20;
    /*var shared_count = shares.length;*/
    var like_str = "like";
    var comment_str = "comment";
    var save_str = "save";
    var share_str = "share";

    if(mediaLists.length >=1){
      save_str = "favorited";
    }

    var customLists=[];

    if(user){
      var user_id = user.id;
      customLists = user.lists;
      var saved_str = "save";

        mediaObject['comments'].forEach(function(comment){
          if(comment['User.id']==user_id){
            comment_str = "commented";
          }
        })

        mediaObject['likes'].forEach(function(like){
          if(like['User.id']==user_id){
            like_str = "unlike";
          }
        })
    }
    
    
    
    %>

    <div class = "grid-item">
        <div class = "dashboard-works-preview">
            <a data-toggle="modal" href = "/modals/preview?media_id=<%- media_id; %>" data-target="#preview">
                <% 
                if (media_type == 3)
                {
                %>
                    <div class = "youtube" style="width:100%; height:500px;">
                        <!-- <iframe style="margin-bottom:-8px;" width="100%" height="334px" src="https://www.youtube.com/embed/<%- media_link; %>" frameborder="0" allowfullscreen></iframe>  -->
                        <div class="youtube-player" data-id="<%- media_link; %>">
                          
                        </div>

                        <div class ="youtube-opn">
                           <span class ="fui-resize youtube-open">
                           </span>
                        </div>
                    </div>

                <%
                } 
                %>


                <%
                if (media_type == 2)
                {
                %>
          
                    <div class="blog-outer-container restricted">
                        <div class="blog-inner-container">
                            <%- blog; %>
                        </div>
                    </div>

                <%
                }
                %>


                <%
                if (media_type == 1)
                { %>
                  <div class = "image-viewer" >
                    <img class="image-viewer-img" style = "width: 100%;" src ="<%- media_link %>"/> 
                  </div>
                <%
                } %>


                <%
                if (media_type == 4)
                {
                %>
                <iframe style = "margin-bottom:-8px" width="100%" height="334px" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/<%- media_link; %>&amp&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false&amp;visual=true"></iframe>
                <div class ="youtube-opn">
                     <span class ="fui-resize soundcloud-open">
                     </span>
                </div>
                <%
                } 
                %>
            </a>

            <div class = "media-viewer-genres" >

                    <div class ="genretagsshadow">
                        <%
                        media_genres.forEach(function(genre){ %>
                          <div class = "insidemvg">#<%=genre%></div>
                        <% }) %>
                    </div>

                    <div class ="lcsb-dashboard">
                        <table>
                            <tr>

                                <td>
                                  <button title="<%- like_str; %>" value = "<%- media_id; %>" class = "likemedia likemedia<%=media_id%> <%- like_str; %>"><i class ="fa fa-thumbs-o-up"></i>
                                  </button>
                                </td>
                                <td>
                                  <a href ="#"><%- likes_count; %></a>
                                </td>

                                <td>
                                  <button title="<%- comment_str; %>" class="commentinput commentinput<%=media_id%> <%=comment_str%>">
                                        <a data-toggle="modal" href = "/modals/preview?media_id=<%- media_id; %>" data-target="#preview"><i class ="fa fa-comment-o"></i>
                                        </a>
                                  </button>
                                </td>
                                <td>
                                    <a data-toggle="modal" href = "media_viewer?media_id=<%- media_id;%>" data-target="#mediaviewer_modal">
                                        <%= comments_count %>
                                    </a>
                                </td>


                                <td>
                                  <div class="dropdown"><button  title="share" class="dropdown-toggle" data-toggle="dropdown"><i class ="fa fa-share-alt <%- share_str; %>" id = "share_icon<%- media_id; %>"></i></button>
                                      <ul class="dropdown-menu">
                                        <li><a class="share facebook" href="http://skillpool.co.in/media/<%=media_id%>">Facebook</a></li>  
                                        <li><a href="https://twitter.com/intent/tweet?url=http://skillpool.co.in/media/<%=media_id%>" class="twitter-share-button" data-url="http://google.com" data-show-count="false">Tweet</a></li> 
                                        <li><a data-toggle="modal" href = "/modals/share-skillpool?media_id=<%- media_id;%>&type=media&media_type=<%=media_type%>" class = "share_with_skillpool" data-target="#skillpoolShareModal">Skillpool</a></li> 
                                      </ul>
                                  </div>
                                </td>   
                                <td>
                                  <a href ="#" class = "sharecount<%- media_id; %>"><%- shared_count; %></a>
                                </td>


                                <td>
                                    <div class="dropdown">
                                        <button title="Save to Lists" class="dropdown-toggle  <%- save_str;%> favorite<%- media_id%>" data-toggle="dropdown">
                                          <i class ="fa fa-star-o"></i>
                                        </button>

                                            
                                                <div class="dropdown-menu">
                                                  <ul class="list-ul-div<%- media_id;%> lists_list" media_id = "<%- media_id; %> ">
                                                                <li>
                                                                  <div class = "save0 save-to-list 

                                                                  <%if(mediaLists.indexOf(0) >=0){ %>
                                                                    saved
                                                                   <% } else { %>
                                                                    save
                                                                    <%} %>
                                                                  " value = "0" >
                                                                    Favorite
                                                                  </div>
                                                                </li>
                                                      <% if(customLists.length>0){ %>
                                                          <% customLists.forEach(function(list){ 
                                                              var list_name = list.list_name;
                                                              var list_id = list.id;
                                                            %>
                                                              <li>
                                                                <div class = "save<%- list_id;%> save-to-list 

                                                                <%if(mediaLists.indexOf(list_id) > -1){ %>

                                                                  saved

                                                                 <% } else { %>
                                                                  save
                                                                  <%} %>
                                                                " value = "<%- list_id; %>" >
                                                                  <%- list_name;%>
                                                                </div>
                                                              </li>
                                                              
                                                          <% }) %>
                                                      <% } %>
                                                  </ul>
                                                  <div>
                                                    <a data-toggle="modal" href = "/modals/add-list?media_id=<%- media_id;%>&type=media" class = "add_new_list_inline" data-target="#addNewList">
                                                      <div class = "add-new-list">+ New List</div>
                                                    </a>
                                                  </div>
                                                </div>
                                                 
                                    </div>
                                </td>


                            </tr>
                        </table>
                    </div>
            </div>

            <div class = "artistandimage">
              <a href ="user-profile/<%- artist_username; %>">
                <img class="artistandimage-img" src = "/images/saurabh.jpg" />
              </a>
              <table class="media-desc-info-table">
                <tr>
                  <td>
                    <a href ="user_profile/<%- artist_username; %>\">
                      <%- artist_name; %>
                    </a>
                  </td>
                </tr>
                <tr>
                  <td class = "media-description">
                    <%- media_description; %>
                  </td>
                </tr>
              </table>
            </div>

        </div>
    </div>


<% } %>