<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <% include ../shared/styles %>
    <link rel="stylesheet" type="text/css" href="/css/user-settings.css">


<title>Skillpool | Personal settings</title>

</head>

<body>
    <% include ../navbar/navbar-main %>
    <div class="container main-custom-container"> 

        <% include ../shared/settings-sidebar %>

        <div class = "right-block user-settings-container">

            <div class = "right-block-padded-container">
                  <h5>Edit your Personal Information</h5>

                  <form action = "/user-settings/" method = "post" >

                    <ul class="form-content">
                        <li>
                            <div class="form-group-personal">
                                <table>
                                    <tr>
                                        <td>
                                            <label>Your Name</label>
                                        </td>
                                        <td>
                                            <input type="text" 
                                            value="<%= user.name %>" 
                                            class="form-control-personal"
                                            name = "name"
                                            placeholder = "Your Name" />
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </li>

                        <li>
                            <div class="form-group-personal">
                                <table class="textareawithnumber">
                                    <tr>
                                        <td>
                                            <label>About</label>
                                        </td>
                                        <td>
                                            <textarea 
                                            cols="5" 
                                            rows="2" 
                                            type="text"
                                            onkeyup="textCounter(this,'counter',70);"
                                            maxlength = "70"
                                            class="form-control-personal despt"
                                            name = "about"
                                            placeholder = "Describe yourself in a line"><%= user.about %></textarea>
                                            <input class="textarea-count" disabled  maxlength="3" size="3" value="70" id="counter">
                                        </td>
                                    </tr>
                                </table>
                                <script>
                                function textCounter(field,field2,maxlimit)
                                {
                                 var countfield = document.getElementById(field2);
                                 if ( field.value.length > maxlimit ) {
                                  field.value = field.value.substring( 0, maxlimit );
                                  return false;
                                 } else {
                                  countfield.value = maxlimit - field.value.length;
                                 }
                                }
                                </script>
                            </div>
                        </li>

                        <li>
                            <div class="form-group-personal">
                                <table>
                                    <tr>
                                        <td>
                                            <label>Contact no.</label>
                                        </td>
                                        <td>
                                            <input type="text" 
                                            value="<%= user.contact %>" 
                                            class="form-control-personal"
                                            name = "contact"
                                            placeholder = "Your contact no."
                                            maxlength = 10/>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </li>

                        <li>
                            <div class = "form-group-personal-tags">
                              <table>
                                <tr>
                                    <td>
                                        <label>City</label>
                                    </td>
                                    <td>
                                        <input type="text" 
                                        value="<%= user.city %>" 
                                        name = "city"
                                        id = "city"
                                        placeholder="Enter your City"
                                        autocomplete="off"/>
                                    </td>
                                </tr>
                            </table>
                            </div>
                        </li>

                        <li>
                            <div class = "form-group-personal-tags">
                              <table>
                                <tr>
                                    <td>
                                        <label>College Name</label>
                                    </td>
                                    <td>
                                        <input type="text" 
                                        value="<%= user.college %>" 
                                        name = "college"
                                        id = "college" 
                                        placeholder="Enter College Name"
                                        autocomplete="off"/>
                                    </td>
                                </tr>
                              </table>
                            </div>
                        </li>

                        <li>
                            <div class = "form-group-personal-tags">
                                <table>
                                <tr>
                                    <td>
                                        <label>Course</label>
                                    </td>
                                    <td>
                                        <input type="text" 
                                        value="<%= user.course %>" 
                                        class="form-control-personal"
                                        name = "course"
                                        id = "course" 
                                        placeholder="Enter Course"
                                        autocomplete="off"/>
                                    </td>
                                </tr>
                              </table>
                            </div>
                        </li>

                    </ul>

                    <button type = "submit" name = "save" value = "Save" class="btn btn-primary ">Done</button>

                    <a href = "/user-settings/picture" class = "btn btn-primary btn-login submit-personal">Next</a>
                </form>
            </div>
        </div>
    </div>
</body>
<% include ../shared/scripts %>
<script src="/js/typeahead.js"></script>
<script src="/js/tags_course.js"></script>
<script src="/js/tags_college.js"></script>
<script src="/js/tags_city.js"></script>
</html>