<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <% include ../shared/styles %>


<title>Skillpool | Personal settings</title>

</head>

<body>
    <% include ../navbar/navbar-main %>
    <div class="container main-custom-container"> 

        <% include ../shared/settings-sidebar %>

        <div class = "right-block user-settings-container">

            <div class = "right-block-padded-container">
                  <h5>Edit your Personal Information</h5>

                  <form action = "/user-settings/" method = "post" id="personalDetailsForm" >

                    <ul class="form-content">
                        <li>
                            <div class="form-group-personal">
                                
                                <label>Your Name*</label><input type="text" 
                                value="<%= user.name %>" 
                                class="form-control-personal"
                                name = "name"
                                placeholder = "Your Name"
                                data-validation="required" />
                            
                            </div>
                        </li>

                        <li>
                            <div class="form-group-personal usernameinputgroup">
                                
                                <label>Username*</label><input type="text" 
                                value="<%= user.username %>" 
                                class="form-control-personal usernameinput"
                                name = "username"
                                placeholder = "Set Username"
                                data-validation="required length"
                                data-validation-length="min5"
                                 />
                                 <img src="/images/loader.gif">
                            
                            </div>
                        </li>

                        <li>
                            <div class="form-group-personal">
                                
                                <label>Email</label><input type="text" 
                                value="<%= user.email %>" 
                                class="form-control-personal"
                                placeholder = "Your Name" readonly/>
                            
                            </div>
                        </li>

                        <li>
                            <div class="form-group-personal">
                               
                                <label>Contact no.</label><input type="text" 
                                value="<%= user.contact %>" 
                                class="form-control-personal"
                                name = "contact"
                                placeholder = "Your contact no."
                                maxlength = 10/>

                            </div>
                        </li>

                        <li>
                            <div class = "form-group-personal">
                              
                                <label>Country</label><input type="text" 
                                value="<%= user.country %>" 
                                name = "country"
                                class="form-control-personal"
                                id = "country"
                                placeholder="Enter your Country"
                                autocomplete="off"/>
                            
                            </div>
                        </li>

                        <li>
                            <div class = "form-group-personal">
                              
                                <label>City</label><input type="text" 
                                value="<%= user.city %>" 
                                name = "city"
                                class="form-control-personal"
                                id = "city"
                                placeholder="Enter your City"
                                autocomplete="off"/>
                            
                            </div>
                        </li>

                        <li>
                            <div class = "form-group-personal">
                                
                                <label>Gender</label><div class="group-selection-container">
                                    <div class="group-selection gender">
                                        <div class="male select-gender option1 <%if(user.gender=="male"){%>selected<%} %>" value="male">Male</div>
                                        <div class="female select-gender option2 <%if(user.gender=="female"){%>selected<%} %>" value="female">Female</div>
                                        <input type="hidden" name="gender" value="male">
                                    </div>
                                </div>
                                
                            
                            </div>
                        </li>

                    </ul>

                    <button type = "submit" name = "save" value = "Save" class="btn btn-primary ">Save</button>

                </form>
            </div>
        </div>
    </div>
</body>
<% include ../shared/scripts %>
<script type="text/javascript">
    $(".select-gender").click(function(){
        var self = $(this);
        $(".select-gender").removeClass("selected");
        self.addClass("selected");
        $(".group-selection.gender input").val(self.attr("value"));
    })
</script>
<script type="text/javascript">
    var typingTimer;                //timer identifier
    var doneTypingInterval = 600;  //time in ms, 5 second for example
    var $input = $(".usernameinput");
    var unique = true;

    $input.on('keyup', function(){
        clearTimeout(typingTimer);
        typingTimer = setTimeout(doneTyping, doneTypingInterval);
    })
    $input.on('keydown', function () {
      clearTimeout(typingTimer);
      $(".usernameinputgroup img").show();

      $(".usernameinputgroup img").attr("src","/images/loader.gif");
      $(".usernameinputgroup span").remove();
      $(".usernameinputgroup input").css("border-color","#e1e8ed");

    });
    function doneTyping () {
        var usernameToCheck = $input.val();
        if(usernameToCheck == ""){
            unique = false;
            $(".usernameinputgroup img").attr("src","/images/cancel.png");
        }
        else
        {
            $.ajax({
                url:"/api/user/check-username-availability",
                method:"POST",
                data:{
                    username:usernameToCheck
                },
                success: function(data){
                    console.log(data)
                    if(data){
                        unique = true;
                        $(".usernameinputgroup img").attr("src","/images/tick.png");
                    }
                    
                },
                error:function(err){
                    unique = false;
                    $(".usernameinputgroup img").attr("src","/images/cancel.png");
                }

            })
        }
    }

    $("#personalDetailsForm").submit(function(e){
        var self = $(this);
        console.log(unique);
        if(!self.isValid() || !unique){
            if(!unique ){
                $(".usernameinputgroup").addClass("has-error");
                $(".usernameinputgroup").css("boder-color","rgb(185, 74, 72)");
                $(".usernameinputgroup").append('<span class="help-block form-error">This username is already taken</span>');
            }
            return false;
        }
        else
        {
            $.ajax({
                url:"/api/user/user-settings/",
                method:"POST",
                data:self.serialize(),
                success:function(data){
                    console.log(data);

                    var asd = $.notify({
                        message: 'Updated Successfully' 
                    },{
                        type: 'success',
                        delay: 100,
                        animate: {
                        enter: 'animated fadeInDown',
                        exit: 'animated fadeOutUp'
                        }
                    });
                    console.log(asd);
                },
                error:function(err){
                    console.log(err);
                }

            })
            return false;

        }
    })

</script>
</html>